:root {
    --dark-color: #19283f;
    --white-color: #FFF;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    color: var(--yellow-color);
}
.main-title::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}
/* Start Navbar */
.navbar {
    background-color: #ddd;
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: var(--white-color);
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link.active {
    color: var(--green-color);
}
.search input:focus {
    outline: none;
    box-shadow: none; 
}
.navbar .navbar-toggler {
    color: var(--white-color);
    font-size: 25px;
    border: 2px solid var(--white-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}

/* End Navbar */
/* Start Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing */

/* start Features */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translate(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End Features */
/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color)
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background-color: var(--dark-color);
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #33d1cc96;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--white-color);
    transition: 0.3s;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover:before  {
    transform: translateX(0);
}
.main-btn-work {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
}
/* End Our Work */
/* Start Stuff */
.stuff .desc {
    max-width: 500px;
}
.main-btn-stuff {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
}
/* End Stuff */
/* Start our Team */
.our-team {
    background-color: var(--section-color);
}
.our-team h4 {
    background-color: var(--green-color);
}
.our-team .desc {
    max-width: 500px;
}
/* End our Team */
/* Start Project */
.project {
    background-color: var(--dark-color);
}
.main-btn-project {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
    
}
/* End Project */
/* Start Subscribe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe input::placeholder {
    color: var(--white-color);
}
.subscribe input[type="submit"]  {
    background-color: var(--dark-color);
    color: var(--yellow-color);
    border: none;
    padding: 5px 15px;
}
/* End Subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.footer .contact ul svg {
    width: 20px;
    height: 20px;
}
.footer .social-media .facebook {
    background-color: #1877f2;
}
.footer .social-media .twitter {
    background-color: #1da1f2;
}
.footer .social-media .linkedin {
    background-color: #0a66c2;
}
.footer .social-media .youtube {
    background-color: #ff0000;
}
/* End Footer */